/* Global scope */
body {
    background: linear-gradient(to bottom right, #f5d0d9, 15%, white);
    background-repeat: no-repeat;
    height: 5000px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ul, li {
    list-style: none;
    padding: 0;
}

/* header scope */
header {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 85px;
    background-color: white;
}

header #gnb {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 65px;
    width: 1350px;
}

header .logo {
    display: inline-block;
    background-image: url('../images/discord-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-basis: 50px;
    width: 50px;
    height: 50px;
}

header .logo > h1 {
    display: none;
}

.gnb__list {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gnb__item {
    margin: 0 10px;
}

.gnb__item > a {
    color: gray;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
}

.support {
    background-color: red;
}

.support button {
    width: 40px;
    height: 40px;
    background-image: url('../images/user-icon.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    border-radius: 30px;
}

/* main scope */
main {

}

/* footer scope */